<div class="jumbotron">
    <h1>Pong Highscores!</h1>
    <p class="lead">Her kan du se, hvem der har flest point i Pong-spillet.</p>
</div>
<div class="row">
    <div class="col-sm-12">
        Highscores findes på formen: BRUGERNAVN:HIGHSCORE nedenfor :)
    </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h2>Top Fem Spillere</h2>
        
        <ul class="list-group">
            <li class="list-group-item">@ViewData["score_1"]</li>
            <li class="list-group-item">@ViewData["score_2"]</li>
            <li class="list-group-item">@ViewData["score_3"]</li>
            <li class="list-group-item">@ViewData["score_4"]</li>
            <li class="list-group-item">@ViewData["score_5"]</li>
        </ul>
    </div>
</div>
